.header__container {
    display: flex;
    width: 15%;
    flex-direction: column;
    background-color: var(--gray1);
    height: 100%;
    position: fixed;
}

.img__container {
    width: 100%;
}

.nav__container {
    display: flex;
}

.list-item__container {
    display: grid;
    margin-top: 1rem;
    text-align: center;
    gap: 1rem;
}

.nav-icons__container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.icon__container {
    width: 20%;
}

.main__container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-left: 20%;
    width: 100%;
    background-image: url(../../assets/img/Daco_916397.png);
}

.title__container {
    margin: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__container {
    margin-top: 5rem;
}