@import "./components/containers.css";
@import "./components/buttons.css";
@import "./components/texts.css";

:root {
    --brand-1: #b22206;
    --brand-2: #f27151;

    --gray1: #010101;
    --gray2: #101010;
    --gray3: #252525;
    --gray4: #454545;
    --gray5: #606060;
    --gray6: #808080;
    --gray7: #aaaaaa;
    --gray8: #cccccc;
    --gray9: #dedede;

    --white: #ffffff;

    --border-radius: 0.5rem;
}

body {
    background-color: var(--gray2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    box-sizing: border-box;
}