.perfil__img {
    width: 100%;
}

.list__item {
    border-bottom: 1px solid var(--gray5);
    padding-bottom: 1rem;
    cursor: pointer;
}

.icon__image {
    width: 100%;
}

#main__title {
    text-shadow: 4px 3px 5px var(--brand-1);
}

#main__text {
    text-shadow: 3px 2px var(--gray1);
}

.about__container > p {
    width: 80%;
    margin-top: 3rem;
    line-height: 1.5rem;
}